<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Alcolator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>883C45671C90F19E000EBBA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>883C45801C90F19F000EBBA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>883C458B1C90F19F000EBBA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
